importFrom("methods", "show")
importClassesFrom("Biobase", "NChannelSet", "eSet", "VersionedBiobase", "Versioned")

exportClasses("cellHTS", "ROC")

export("oneRowPerId", 
       "Bscore",
       "configurationAsScreenPlot",
       "convertWellCoordinates",
       "getEnVisionRawData",
       "getEnVisionCrosstalkCorrectedData",
       "getDynamicRange",
       "getMeasureRepAgreement",
       "getTopTable",
       "getZfactor",
       "imageScreen",
       "normalizePlates",
       "plotSpatialEffects",
       "readPlateList",
       "readHTAnalystData",
       "spatialNormalization",
       "summarizeChannels",
       "summarizeReplicates",
       "writeReport",
       "write.tabdel")

exportMethods("annotate",
       "batch",
       "batch<-",
       "compare2cellHTS",
       "configure",
       "Data",
       "Data<-",
       "geneAnno",
       "initialize",
       "intensityFiles",
       "lines",
       "name",
       "name<-",
       "nbatch",
       "pdim",
       "plate",
       "plateConf",
       "plateEffects",
       "plateList",
       "plot",
       "position",
       "ROC",
       "screenDesc",
       "screenLog",
       "show",
       "state",
       "well",
       "wellAnno",
       "writeTab")

