importFrom("methods", "show")
importClassesFrom("Biobase", "NChannelSet", "eSet", "VersionedBiobase", "Versioned")

exportClasses("cellHTS")

export("oneRowPerId", 
       "Bscore",
       "convertWellCoordinates",
       "getEnVisionRawData",
       "getEnVisionCrosstalkCorrectedData",
       "normalizePlates",
       "readPlateList",
       "spatialNormalization",
       "summarizeChannels",
       "summarizeReplicates",
       "write.tabdel")

exportMethods("annotate",
       "batch",
       "batch<-",
       "configure",
       "Data",
       "Data<-",
       "geneAnno",
       "initialize",
       "intensityFiles",
       "pdim",
       "plate",
       "plateConf",
       "plateEffects",
       "plateList",
       "position",
       "name",
       "name<-",
       "nbatch",
       "screenDesc",
       "screenLog",
       "state",
       "well",
       "wellAnno",
       "writeTab")

