/* --- the bounding table and frame elements --- */
body
{
    font-family:Arial;
    text-align:center;
    padding:0px;
    margin:0px;
}

table.border
{
    height:100%;
    padding:0px; 
    margin:0px;
    margin-left:10px;
    margin-top:10px;
    border-spacing:0px; 
    empty-cells:show; 
    border-collapse:collapse; 
    font-family:Arial;
    width:99%; 
        
}

tr.border
{
    padding:0px; 
    margin:0px;
}

td.border
{
    background-color:#6699cc; 
    padding:0px; 
    margin:0px;
}

td.corner
{
    background-repeat:no-repeat; 
    background-image:url(bordercorner.gif); 
    width:53px; 
    height:60px; 
    font-size:45px;
}

td.top
{
    height:60px; 
    border-bottom:1px solid #336699;
}

div.header
{
    font-size:14px; 
    color:white; 
    padding-left:10px; 
    float:left;
}

span.header
{
    font-size:23px;
    font-weight:bold;
    margin-left:5px;
}


div.methods
{
    float:left;
    margin-left:40px;
    position:relative;
    top:5px;
}


table.methods
{
    display:none;
    color:white;
    border-spacing:0px; 
    border-collapse:collapse;     
}


td.methods.description
{
    font-size:11px;
    font-weight:bold;
    text-align:right;
}


td.methods.content
{
    text-align:left;
    padding-left:5px;
    font-size:10px;
}

div.timestamp
{
margin-left:170px;
float:left;
font-size: 10px;
color:white;
vertical-align:bottom;
position:relative;
top:20px;
font-style:italic;
}


div.logo
{
    font-size:24px; 
    color:white; 
    padding-right:10px; 
    float:right;
}

tr.middle
{
    vertical-align:top;
}

td.left
{
    border-right:1px solid #336699;
}

td.main
{
    background-color:white; 
}

div.main
{
    padding:20px;
    padding-top:10px;
    height:100%;
}

iframe.main
{
    height:98%;
    width:98%;
    text-align:center;
}


/* The tabs */

div.tab
{
    padding:0px;
    margin:0px;
    font-weight:bold; 
    font-family:Helvetica;
    position:relative;
    top:-3px;
    left:-1px;
    height:70px;
}

div.tab.medium
{
    height:58px;
}

div.tab.small
{
    height:25px;
}


div.tab table.bar
{
    border-spacing:0px;
    margin:0px; 
    padding:0px; 
    border:none; 
    width:100%;
}

div.tab table.bar td.topbar
{
    font-weight:bold;
    border-spacing:0px;
    padding:0px;
    margin:0px;
    background-color:#c5d7ea;
    color:#4f4f4f;
}

div.tab table.bar td.bar
{
    background-image:url(backblue.gif); 
    height:63px;
}


div.tab table.bar.small td.bar
{
    background-image:url(backbluesmall.gif); 
    height:38px;
}

div.tab table.tabs
{
    height:0px;
    position:relative; 
    top:-66px;
}


div.tab table.tabs table
{
    float: left;
}

div.tab table.tabs table:hover
{
    cursor:pointer;
}

div.tab table.tabs table.unselected
{
    border:none;
    white-space:nowrap;
    border-spacing:0px; 
    border-collapse:collapse;				
    position:relative;
    margin-left:10px; 
    color:white;
    text-align:center;
}

div.tab table.tabs table.unselected.small
{
    top:25px
}

div.tab table.tabs table.unselected td.left
{
    border:none;
    background-image:url(leftblue.gif);
    background-repeat:no-repeat; 
    background-position:top; 
    width:22px; 
    height:63px;
    font-size:38px;
}


div.tab table.tabs table.unselected.medium td.left
{
    background-image:url(leftbluemid.gif);
    height:53px;
}

div.tab table.tabs table.unselected.small td.left
{
    background-image:url(leftbluesmall.gif);
    height:32px;
    width:12px;
    font-size:20px;
    padding:0px;
}

div.tab table.tabs table.unselected td.middle
{
    text-align:center;
    font-weight:bold;
    background-image:url(midblue.gif);
    background-position:top; 
   /*  min-width:120px; */
    height:63px; 
    padding-top:17px;
}

div.tab table.tabs table.unselected.medium td.middle
{
    /* min-width:100px; */
    font-size:13px;
    background-image:url(midbluemid.gif);
    height:53px;
}

div.tab table.tabs table.unselected.small td.middle
{
  /*   min-width:90px; */
    font-size:11px;
    background-image:url(midbluesmall.gif);
    height:32px;
    padding-top:12px
}

div.tab table.tabs table.unselected td.right
{
    background-image:url(rightblue.gif);
    background-repeat:no-repeat;
    background-position:top;
    width:22px;
    height:63px;
    font-size:38px;
}

div.tab table.tabs table.unselected.medium td.right
{
    background-image:url(rightbluemid.gif);
    height:53px;
}

div.tab table.tabs table.unselected.small td.right
{
    background-image:url(rightbluesmall.gif);
    height:32px;
    width:12px;
    font-size:20px;
    padding:0px;
}

div.tab table.tabs table.selected
{
    border:none;
    white-space:nowrap;
    border-spacing:0px; 
    border-collapse:collapse;
    position:relative; 
    margin-left:10px;
}

div.tab table.tabs table.selected.small
{
    top:25px;

}

div.tab table.tabs table.selected td.left
{
    border:none;
    background-image:url(leftselblue.gif);
    background-repeat:no-repeat; 
    background-position:top; 
    width:21px; 
    height:63px;
    font-size:38px;
}


div.tab table.tabs table.selected.medium td.left
{
    background-image:url(leftselbluemid.gif);
    height:53px;
}

div.tab table.tabs table.selected.small td.left
{
    background-image:url(leftselbluesmall.gif);
    height:32px;
    width:12px;
    font-size:20px;
    padding:0px;
}

div.tab table.tabs table.selected td.middle
{
    font-weight:bold;
    color:#4f4f4f;
    text-align:center;
    background-image:url(midselblue.gif);
    background-position:top; 
   /*  min-width:120px; */
    height:63px;
    padding-top:15px;
}

div.tab table.tabs table.selected td.middle span
{
    position:relative;
    left:-5px;
}

div.tab table.tabs table.selected.medium td.middle
{
   /*  min-width:100px; */
    background-image:url(midselbluemid.gif);
    height:53px;
    font-size:13px;
    text-align:center;
}

div.tab table.tabs table.selected.small td.middle
{
   /*  min-width:90px; */
    background-image:url(midselbluesmall.gif);
    height:32px;
    font-size:11px;
    padding-top:12px;
    text-align:center;
}

div.tab table.tabs table.selected.small td.middle span
{
    position:relative;
    left:-3px;
}

div.tab table.tabs table.selected td.right
{
    background-image:url(rightselblue.gif);
    background-repeat:no-repeat; 
    background-position:top; 
    width:22px; 
    height:63px;
    font-size:38px;
   
}

div.tab table.tabs table.selected.medium td.right
{
    background-image:url(rightselbluemid.gif);
    height:53px;
}

div.tab table.tabs table.selected.small td.right
{
    background-image:url(rightselbluesmall.gif);
    height:32px;
    width:12px;
    font-size:20px;
    padding:0px;
}

/* --- image stacks --- */
tr.invisible, table.invisible
{
    display:none;
}

table.imageStack
{
    font-family:Arial;
    border:1px solid #336699;
    border-spacing:0px; 
    border-collapse:collapse; 
    background-color:#6699cc;
}

table.image
{
    font-family:Arial;
    border-spacing:0px; 
    border-collapse:collapse; 
    background-color:#6699cc;
    text-align:center;
    color:white;
}

table.image td.header
{
    padding-bottom:5px;
    padding-top:5px;
}

table.imageStack table.image td.header
{
    padding-bottom:0px;
}

table.imageStack table.image td.header div.header
{
    position:relative;
    top:-15px;
}

table.image td.header div.header
{
    float:none;
    font-size:20px;
    font-weight:bold;
}

table.image div.caption
{
    font-size:14px;
    font-weight:normal;
}

table.imageStack table.image td.header div.caption
{
    position:relative;
    top:-15px;
}

table.image td.main
{
    background-color:#6699cc;
    padding-right:25px;
    padding-left:25px;
}

table.image td.pdf
{
    text-align:right;
    height:25px;
}

table.image span.pdf
{
    font-weight:bold;
    color:white;
    margin-right:35px;
    font-size:12px;
}

table.image span.pdf:hover
{
    color:#4c698a;
}


/* --- some module-specific stuff --- */
table.plateConfModule.legend
{
    border:none;
    padding-top:5px;
    text-align:center;
    font-family:Arial;
    color:white;
    background-color:#6699cc;
    border-spacing:0px;
    font-size:10px;
}

td.plateConfModule.legend
{
    border: 2px solid #6699cc;
    width:30px;
}


/* Sortable tables */
table.sortable
{
    border:1px solid gray;
    font-family:Arial;
    font-size:12px;
    
}

table.sortable td
{
    border:none;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

div.download
{
    float:left;
    padding:3px;
    color:#666666;
    font-size:9px;
}

div.download a
{
    color:lightgray;
    text-decoration:none;
}

div.download img
{
    border:none;
    width:25px;    
}

div.download a:hover
{
    color:darkblue;
}



table.plateList
{
 border-spacing:0px;
 border-collapse:collapse;
 margin-top:10px;
}

table.plate
{
    position:relative;
    left:4px;
    text-align:center;
}

table.rest
{
    text-align:center;
}

table.plate td, table.rest td
{
    font-size:14px;
    height:25px;
    padding-left:5px;
    padding-right:5px;
}

table.rest td.header a
{
    text-decoration:none;
    color:white;
}

table.rest td a
{
    text-decoration:none;
    color:black;
}

table.plate td
{
    padding-top:2px;
}

table.plate td.details
{
    width:20px;
    background-image:url(lupe.png);
    background-repeat:no-repeat;
    background-position:center;
    border-right:5px solid white;
}

table.plate td.details:hover
{
    cursor:pointer;
}

table.plate td.header, table.rest td.header
{
    font-weight:bold;
    background-color:#6699cc;
    color:white;
    padding:3px;
}

td.odd
{
    background-color:#D5DDF3;
}

td.even
{
    background-color:#E4E8FE;

}